<h1>Listing edit_sessions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Jivepage</th>
  </tr>

<% for edit_session in @edit_sessions %>
  <tr>
    <td><%=h edit_session.user_id %></td>
    <td><%=h edit_session.jivepage_id %></td>
    <td><%= link_to 'Show', edit_session %></td>
    <td><%= link_to 'Edit', edit_edit_session_path(edit_session) %></td>
    <td><%= link_to 'Destroy', edit_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New edit_session', new_edit_session_path %>
