<h1>Editing contributorship</h1>

<%= error_messages_for :contributorship %>

<% form_for(@contributorship) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Jivepage</b><br />
    <%= f.text_field :jivepage_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @contributorship %> |
<%= link_to 'Back', contributorships_path %>
