<div id="original_top_tool_shed" style="display:none">
  <span id="top_tool">    
    <table id="insert_menu" cellspacing="0" cellpadding="0">
      <tr class="off">
        <th><a href="#">INSERT</a></th>
        <td class="red"><%= link_to_function "text", "Column.insert_text()" %></td>
        <td class="orange"><%= link_to_function "photo", "Column.insert_photo()" %></td>
        <td class="yellow"><%= link_to_function "video", "Column.insert_video()" %></td>
        <td class="green"><%= link_to_function "audio", "Column.insert_audio()" %></td>
        <td class="blue"><%= link_to_function "link", "Column.insert_link()" %></td>
        <td class="violet"><%= link_to_function "special", "Column.insert_special()" %></td>        
      </tr>
    </table>
    <table cellspacing="0" cellpadding="0">
      <tr class="off">
        <th class=""><%= link_to_function "[OK]", "ColumnTool.close_all()" %></th>        
      </tr>    
    </table>
  </span>
</div>

<div id="original_left_tool_shed" style="display:none">
  <span id="left_tool">
    <table id="format_menu" cellspacing="0" cellpadding="0">
      <tr class="off">
        <th><a href="#">FORMAT</a></th>
        <td class="<%= Row::FULL %>"><a href="#">full</a></td>
        <td class="<%= Row::HALVES %>"><a href="#">halves</a></td>
        <td class="<%= Row::THIRDS %>"><a href="#">thirds</a></td>
        <td class="<%= Row::LEFT %>"><a href="#">left</a></td>
        <td class="<%= Row::RIGHT %>"><a href="#">right</a></td>
      </tr>
    </table>
    <table id="left_menu" cellspacing="0" cellpadding="0">
      <tr class="off">
        <th><a href="#">ROW</a></th>
        <td class=""><%= link_to_function "insert above", "Row.insert_above()" %></td>
        <td class=""><%= link_to_function "insert below", "Row.insert_below()" %></td>
        <td class=""><%= link_to_function "delete", "Row.delete_row()" %></td>
      </tr>    
    </table>
  </span>
</div>