<% content_for(:header) do %>
  <h2>All Pages</h2>
<% end %>

<table>
<% for jivepage in @jivepages %>
  <tr>
    <td style="font-size:150%"><%= link_to(jivepage.title || "Untitled", jivepage) %></td>
    <td style="width:5em; text-align:right"><%= link_to 'edit', edit_jivepage_path(jivepage) %></td>
    <td style="width:2em; text-align:right"><%= link_to image_tag(plugin_image_path("trashcanicon.gif")), jivepage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for(:footer) do %>
  <blockquote>
    <% form_for :jivepage do %>
      <%= hidden_field_tag "jivepage[site_id]", nil %>
      <%= submit_tag "Make your own page right now" %>
    <% end %>
  </blockquote>
<% end %>



