<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <% @jivepage ||= Jivepage.new({:sidebar => "none"}) %>
  <title><%= h(@jivepage && @jivepage.title ? @jivepage.title : controller.action_name) %> : jivepages</title>
  
  <% asset_path = "/plugin_assets/jivepages" %>
  <% %w{reset-fonts-grids.yui251 tabs jivepages}.each do |lib| %>
  <link rel="stylesheet" href="<%= asset_path %>/stylesheets/<%= lib %>.css" type="text/css">
  <% end %>  
  <%= javascript_include_tag :defaults %>
  <% %w{util jivepages jquery jquery/ui.core.js jquery/ui.tabs.js}.each do |lib| %>
  <%= javascript_include_tag "#{asset_path}/javascripts/#{lib}" %>
  <% end %>  
  <%= javascript_tag %{
    var $j = jQuery.noConflict();
  } %>
</head>

<body>
  <div id="<%= @jivepage.layout || "doc" %>" class="jivepage <%= @jivepage.skin %> <%= controller.action_name %>">
    <%= render :partial => "jivepages/menu" if controller.action_name == "edit" %>
    <div id="hd">
      <div id="header_section" class="yui-b">
        <%= yield :header %>
      </div>      
    </div>
    <div id="bd">
      <div id="yui-main">
        <div id="body_section" class="yui-b">
          <%= yield %>
        </div>
      </div>
      <div class="yui-b" id="sidebar_section" style="<%= 'display:none' unless @jivepage.sidebar? %>">
        <%= yield :sidebar %>
      </div>
    </div>
    <div id="ft">
      <div id="footer_section" class="yui-b">
        <%= yield :footer %>
      </div>      
    </div>
    <div id="debug"></div>
  </div>
  
  <% remote_form_for(@jivepage,
      :html => {:id => "hidden_form", :style => "display:none"}) do |f| %>
    <%= f.hidden_field :id %>
  <% end %>
</body>
</html>
