<% return unless row %>
<% first ||= false %>
<div id="<%= row_dom_id(row) %>" class="row <%= row.yui_grid_type %> <%= 'first' if first %>">
  
  <% no_tool ||= false %>
  <% unless no_tool %>
  <%= render :partial => "/rows/row", :locals => {:row => row} %>
  <%= render :partial => "jivepages/row_tool_shed", :locals => {:row => row} %>
  <% end %>
  
  
  <% if row.boxes.zero? %>
    <%= render :partial => "/rows/content", :locals => {:row => row} %>
  <% else %>
  <div id="<%= row.dom_id %>-content" class="parent_content">
    <% first = true %>  
    <% for child in row.children %>
      <%= render :partial => "/rows/unit", :locals => {:row => child, :first => first} %>
      <% first = false %>
    <% end %>
  </div>
  <% end %>
</div>
